<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  p{
      padding: 5px;
  }
</style>

<div class="footer">
  <p>&copy AK</p>
</div>
